.noteit,
.noteit * {
  box-sizing: border-box;
}

.noteit {
  --background: #fff;
  --green: #27ca5d;
  --red: #e74b43;
  --blue: #0088cc;
  --color: #000;
  --width: 240px;

  position: fixed;
  z-index: 9999999999;
  bottom: 0px;
  right: 0px;
  padding-bottom: 5px;
  pointer-events: none;
}

.noteit--loading {
  padding-right: 50px;
}

.noteit__loading {
  pointer-events: all;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background);
  padding: 5px;
  transform: translateY(calc(100% + 10px));
  color: var(--green);
  stroke-width: 5px;
}

.noteit__loading--show {
  transform: translateY(0);
}

.noteit__message {
  pointer-events: all;
  width: var(--width);
  will-change: height;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
  overflow: hidden;
  font-size: 16px;
  color: var(--color);
  --icon-color: var(--color);
}

.noteit__message--auto-width {
  width: auto;
}

.noteit__message__inner {
  position: relative;
  min-height: 40px;
  min-width: 40px;
  background-color: var(--background);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}

.noteit__message__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: var(--icon-color);
  align-self: flex-start;
}

.noteit__message--success {
  --icon-color: var(--green);
}

.noteit__message--error {
  --icon-color: var(--red);
}

.noteit__message--info {
  --icon-color: var(--blue);
}

.noteit__message__close {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  stroke-width: 2px;
}

.noteit__message__text {
  flex: 1;
  align-self: center;
}
